@tailwind base;
@tailwind components;
@tailwind utilities;

/*
     bg-[#24272D]
     text-[#f4f4f5]
     text-[#D4D4D6]
*/

html {
  scroll-behavior: smooth;
}

span {
  margin-bottom: 10px;
}

#typewriter {
  color: #f4f4f5;
}

.typewriter h1 {
  overflow: hidden;
  color: #f4f4f5;
  border-right: 0.15em solid #4cc966;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #4cc966;
  }
}

.cool-link {
  display: inline-block;
  color: #f4f4f5;
  text-decoration: none;
}

.cool-link::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background: #4cc966;
  transition: width 0.3s;
}

.cool-link:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.cool-link-nav {
  display: inline-block;
  color: #d4d4d6;
  text-decoration: none;
}

.cool-link-nav::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #4cc966;
  transition: width 0.3s;
}

.cool-link-nav:hover::after {
  width: 100%;
  transition: width 0.3s;
}

/* buttons */

.button-1 {
  background-color: black;
  border: 3px solid #4cc966;
  border-radius: 50px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #4cc966;
}
.button-1:hover {
  box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #4cc966;
  border: 3px solid #4cc966;
}

.button-2 {
  color: #000;
  border: 3px solid #4cc966;
  background-image: -webkit-linear-gradient(
    30deg,
    #4cc966 50%,
    transparent 50%
  );
  background-image: linear-gradient(30deg, #4cc966 50%, transparent 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: -250%;
  -webkit-transition: background 1000ms ease-in-out;
  transition: background 500ms ease-in-out;
}
.button-2:hover {
  background-position: 600%;
  color: #000;
}
