@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

span {
  margin-bottom: 10px;
}

.cool-link {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.cool-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s;
}

.cool-link:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.cool-link-nav {
  display: inline-block;
  color: gray;
  text-decoration: none;
}

.cool-link-nav::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #4cc966;
  transition: width 0.3s;
}

.cool-link-nav:hover::after {
  width: 100%;
  transition: width 0.3s;
}

/* button */

.button-2 {
  color: #000;
  border: 3px solid #4cc966;
  background-image: -webkit-linear-gradient(
    30deg,
    #4cc966 50%,
    transparent 50%
  );
  background-image: linear-gradient(30deg, #4cc966 50%, transparent 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: -250%;
  -webkit-transition: background 1000ms ease-in-out;
  transition: background 500ms ease-in-out;
}
.button-2:hover {
  background-position: 600%;
  color: #000;
}
